.matrix {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  overflow-y: auto;

  &__grid {
    display: grid;
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    background-color: var(--primary);
    border: 1px solid var(--text);
    padding: 5px;
    text-align: center;

    &:disabled {
      opacity: 1;
      color: inherit;
    }

    &-hovered {
      &:hover {
        background-color: var(--accent);
      }
    }

    @media screen and (width >= 680px) {
      padding: 10px;
    }
  }
}

.highlighted {
  background-color: var(--secondary);
}

.icon {
  width: 40px;
}
